# Dependencies
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Testing
coverage/

# Build
build/
dist/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Git
.git
.gitignore